<!DOCTYPE html>
<head>
{% block 'title' %}
{% endblock %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/css/navbar.css' %}">
</head>
<body>
    <div class="navbar">
        <a class="nav_btn" id="nav_home" href="/">Home</a>
        <a class="nav_btn" id="nav_find_posts" href="">Find Posts</a>
        <a class="nav_btn" id="nav_about" href="">About</a>
        <a class="nav_btn" id="nav_sign_in" href="login/">Sign In</a>
    </div>
    {% block 'body' %}
    {% endblock %}
    {% block 'script' %}
    {% endblock %}
    <script src="\static\posts\js\jquery-3.7.0.js"></script>
</body>