{% extends 'posts/base.html' %}
{% load static %}

{% block 'title' %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/css/posts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'posts/css/tags.css' %}">
{% endblock %}

{% block 'body' %}

<div class="grid_box">
    <div id="post_list">
        <h2 id="post-header">New Posts</h2>
        {% for post in posts %}
        <div class="post_div">
            <a class="post">{{ post.title }}</a>
        </div>
            
        {% endfor %}
    </div>
    <div class="tag_list">
        <h2>Tags</h2>
        {% csrf_token %}
        {% for tags in tag_groups %}
        {% for tag in tags %}
        <h5 class="fake_tag nonactive_tag" id="fake_tag_{{ tag.tag_name }}" onclick="TagClicked('{{ tag.tag_name }}', '{{ tag.group_name }}')">{{ tag.tag_name }}</h5>
        <button class="tag" id="tag_{{ tag.tag_name }}" >{{ tag.tag_name }}</button>
        {% endfor %}
        {% endfor %}
    </div>
        
        
        
    </div>
</div>

<script src="\static\posts\js\tags.js"></script>
{% endblock %}